<h1>{{title}}</h1>
<p>Tired of wasting food all the time?</p>
<p>Trying to plan dinner but not sure what's in your fridge?</p>
<p>Existential crisis at the grocery store?</p>
<p>Welcome to {{title}}</p>

<a href='users/new'>Create Your Pantry Now</a>
<br>
<a href='users/'>See What Everyone Else is Cooking</a>
