
<div class='home_page'>
  <img class='fridge_image' src='http://i.imgur.com/0pwnYeT.gif' alt='refrigerator_clip_art'>
  <div class="home_page_main">
    <h1 class="home_page_title">{{title}}</h1>
    <div class="home_page_blurb">
      <p>Tired of wasting food all the time?</p>
      <p>Trying to plan dinner but not sure what's in your fridge?</p>
      <p>Existential crisis at the grocery store?</p>
      <p>Welcome to {{title}}</p>
    </div>
  </div>
</div>

<div class="footer_nav">
  <a class="footer_links" href='users/new'>Create Your Pantry Now</a>
  <a class="footer_links" href='users/'>See What Everyone Else is Cooking</a>
</div>
