body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.page_title {
  font-size: 90px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
}

.home_page_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fridge_image {
  margin-right: 50px;
}

.user_index_page_title {
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
}

.pantries_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.each_pantry_index_page {
  height: 350px;
  width: 180px;
  background-image: url('http://i.imgur.com/ssg8As1.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


.link_to_each_pantry {
  text-decoration: none;
}

.pantry_name {
  font-size: 25px;
}

.favorite_food {
  font-size: 18px;
  color: black;
}

.expiration_message {
  color: red;
}

.expired_date {
  color: red;
}

.footer_nav {
  display: flex;
  justify-content: space-around;
}


