body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page_title {
  font-size: 90px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
}

.home_page_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fridge_image {
  margin-right: 50px;
}


.expiration_message {
  color: red;
}

.expired_date {
  color: red;
}

