body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.home_page_title {
  font-size: 90px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
}

.home_page_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fridge_image {
  margin-right: 50px;
}

.page_title {
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 5px;
  margin: 0;
}

.form_page_main {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
}

.form {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: right;
}

.fridge_image_form_page {
  height: 230px;
}

.pantries_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
}

.each_pantry_index_page {
  height: 350px;
  width: 180px;
  background-image: url('http://i.imgur.com/ssg8As1.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 25px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.each_pantry_index_page:hover {
  box-shadow: 3px 3px 3px #888888;
}


.link_to_each_pantry {
  text-decoration: none;
}

.pantry_name {
  font-size: 25px;
}

.favorite_food {
  font-size: 18px;
  color: black;
}

.user_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bullet_separator {
  margin-left: 10px;
  margin-right: 10px;
}

.pantry_items_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.each_food {
  font-size: 20px;
  font-weight: 700;
  height: 230px;
  width: 230px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.each_food_link {
  text-decoration: none;
  color: black;
}

.food_group_image_container {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 200px;
  overflow: hidden;
}

.food_group_image_container:hover {
  box-shadow: 3px 3px 3px #888888;
}

.food_group_image_index_page {
  height: 100%;
}

.food_group_image_show_page {
  height:180px;
  margin-top: 25px;
}

.expiration_message {
  color: red;
}

.expired_date {
  color: red;
}

.edit_delete_pantry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-left: 2px;
  margin-right: 2px;
}

.buttons:hover {
  box-shadow: 3px 3px 3px #888888;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  padding: 30px;
  margin: 0;
  box-sizing: border-box;
}

.footer_links {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.footer_links:hover {
  text-shadow: 3px 3px 3px #888888;
}
