
<h1>Add an Item to Your Pantry</h1>

<form method="POST" action="/users/{{userId}}/items">
    Food Name: <input type="text" name="name"><br>
    Food Group: <input type="radio" name="food_group" value="fruits">Fruits
      <input type="radio" name="food_group" value="vegetables">Vegetables
      <input type="radio" name="food_group" value="grains">Grains
      <input type="radio" name="food_group" value="protein">Protein
      <input type="radio" name="food_group" value="dairy">Dairy
      <input type="radio" name="food_group" value="fats">Fats/Oils/Sweets
      <input type="radio" name="food_group" value="other">Other<br>
    Expiration Date (if listed): <input type="date" name="expirationDate"><br>
    Recipe Ideas: <input type="text" name="comments"><br>
    <input type="submit">
</form>

<a href='/users/{{userId}}'>Nevermind</a>
