<h1 class="page_title">Click on a Pantry to See What's Cooking</h1>
<hr>

<main class="pantries_list">
{{#each usersList}}
  <a class="link_to_each_pantry" href='/users/{{_id}}'>
    <div class="each_pantry_index_page">
      <p class="pantry_name">{{name}}'s<br>Pantry</p>
      <p class="favorite_food">Favorite Food:<br>{{favorite_food}}</p>
  </div>
</a>
{{/each}}
</main>

<nav class='footer_nav'>
  <a class="footer_links" href='/'>Pantry Partner</a>
  <a class="footer_links" href='/users/new'>Create Your Pantry Now</a>
</nav>
