<h1 class="user_index_page_title">Click on a Pantry to See What's Cooking</h1>

<main class="pantries_list">
{{#each usersList}}
  <div class="each_pantry_index_page">
    <a class="link_to_each_pantry" href='/users/{{_id}}'>See {{name}}'s Pantry</a>
    <p>Favorite Food: {{favorite_food}}</p>
  </div>
{{/each}}
</main>

<nav class='footer_nav'>
  <a href='/'>Go back to the home page</a>
  <a href='/users/new'>Create Your Pantry Now</a>
</nav>
