
<h1>Create Your Pantry</h1>

<form method="POST" action="/users">
    Name: <input type="text" name="name" value="{{user.name}}"><br>
    Email: <input type="text" name="email" value="{{user.email}}"><br>
    Favorite Food: <input type="text" name="favorite_food" value="{{user.favorite_food}}"><br>
    <input type="submit">
</form>
